<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        #container {
            width: 600px;
            margin: 10px auto;
        }

        table,
        tr,
        td,
        th {
            border: 2px, solid black;
            text-align: center;
            padding: 5px 20px;
            border-collapse: collapse;
        }

        th {
            background-color: rgb(255, 255, 255);
        }

        botton {
            margin-top: 5px;
            margin-right: 5px;
        }

        input[type="text"] {
            width: 92%;
        }
    </style>
</head>

<body>
    <div id="app">
        <div id="container:">
            <table>
                <tr>
                    <th>제목</th>
                    <th>
                        <label>
                            <input type="radio" v-model="selectItem" name="kind" value="1"> 공지사함
                        </label>
                        <label>
                            <input type="radio" v-model="selectItem" name="kind" value="2"> 자유게시판
                        </label>
                        <label>
                            <input type="radio" v-model="selectItem" name="kind" value="3"> 문의게시판
                        </label>

                    </th>

                </tr>
                <tr>
                    <th>제목</th>
                    <th><input type="text" v-model="title"></th>

                </tr>
                <tr>
                    <th>작성자</th> 
                    <!-- <th><input type="text" v-model="userId" disabled></th> -->
                 <th>{{userId}}</th>  

                </tr>

                <tr>
                    <th>내용</th>
                    <th><textarea v-model="contents" cols="50" rows="20"></textarea></th>

                </tr>


            </table>
            <div>
                <button @click="fnSave">저장</button>
                <button @click="fnBack">되돌아가기</button>
            </div>
        </div>
    </div>
</body>

</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                // 변수 - (key : value)
                title: "",
                userId: "", //세션아이디
                contents: "",
                selectItem: "1"
                




            };
        },
        methods: {
            // 함수(메소드) - (key : function())
            fnSave: function () {
                let self = this;
                let param = {
                    title: self.title,
                    userId: self.userId,
                    contents: self.contents,
                    kind: self.selectItem
                }
                $.ajax({
                    url: "http://localhost:3009/board/insert",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) {
                       alert("저장되었습니다");
                       self.fnBack();
                    }
                });
            },
            fnBack() {
                location.href = "board-list.html";
            },

        },
        mounted() {
            // 처음 시작할 때 실행되는 부분
            this.userId = sessionStorage.getItem("sessionId");


        }
    });

    app.mount('#app');
</script>