<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        table,
        tr,
        th,
        td {
            border: 1px solid black;
            text-align: center;
            padding: 5px 20px;
            border-collapse: collapse;
        }
        
    </style>
</head>

<body>
    <div id="app">
        <div v-if="!editMode">
            <table>
                <tr>
                    <th>번호</th>
                    <th>음식이름</th>
                    <th>종류</th>
                    <th>#</th>
                    <th>추천</th>
                    
                </tr>
                <tr v-for="item in list">
                   
                    <td>{{item.FOOD_TYPE_ID}}</td>
                    <td>{{item.FOOD_TYPE_NAME}}</td>
                    <td>{{item.DESCRIPTION}}</td>
                    <td>{{item.RECOMMEND_MOOD}}</td>
                    <td>{{item.RECOMMEND_DESCRIPTION}}</td>
                    
                    <td><button @click="fnRemove(item.FOOD_TYPE_ID)">삭제</button></td>
                    <td><button @click="fnEditMode(item)">수정</button></td>
                </tr>
            </table>
            <div>
                <button @click="fnAdd">음식종류 추가</button>
            </div>
        </div>
        <div v-else>
             <input type="hidden" v-model="foodNo">
            <div>{{info.FOOD_TYPE_ID}}</div> <!--오답노트: server에서 foodNo를 안보냈기 때문에 수정이 안됬던것 -->
            <div>이름 : <input v-model="name"></div>
            <div>종류 : <input v-model="descr"></div>
            <div># : <input v-model="mood"></div>
            <div>설명 : <input v-model= "reco"></div>
            <div>
                <button @click="fnEdit">수정</button>
                <button @click="editMode = false">취소</button>
            </div>
        </div>

    </div>
</body>

</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                // 변수 - (key : value)
                list: [],
                info: {},
                editMode: false,
                name : '',
                descr : '',
                mood : '',
                reco : '',
                foodNo : null,
            
            };
        },
        methods: {
            // 함수(메소드) - (key : function())
            fnFoodList: function () {
                let self = this;
                $.ajax({
                    url: "http://localhost:3009/food/list",
                    dataType: "json",
                    type: "GET",
                    data: {},
                    success: function (data) {
                        console.log(data);
                        self.list = data.list;
                    }
                });
            },
            fnRemove: function (foodNumver) {
                let self = this;
                if (!confirm("정말 삭제하실?")) {
                    return;
                }

                $.ajax({
                    url: "http://localhost:3009/food/delete",
                    dataType: "json",
                    type: "GET",
                    data: { foodId: foodNumver },
                    success: function (data) {
                        alert("삭제되었습니다!");
                        console.log(data);
                        self.fnFoodList();
                    }
                });

            },
            fnEdit: function () {
                let self = this;
                if (!confirm("정말 수정하실?")) {
                    return;
                }
                let param = {
                    name: self.name,
                    descr: self.descr,
                    foodNo : self.info.FOOD_TYPE_ID,
                    mood : self.mood,
                    reco : self.reco

                };
                $.ajax({
                    url: "http://localhost:3009/food/update",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) {
                        alert("수정되었습니다!");
                        self.fnFoodList();
                        self.editMode = false;
                    }
                });
            },
            fnEditMode : function(map){
                let self = this;
                console.log(map);
                self.info = map;
                self.name = map.FOOD_TYPE_NAME;
                self.descr = map.DESCRIPTION;
                self.mood = map.RECOMMEND_MOOD;
                self.reco = map.RECOMMEND_DESCRIPTION;
                self.editMode = true; // !self.editMode
            },
            fnAdd : function(){
               location.href= "food-insert.html";
            }
        }, // methods
        mounted() {
            // 처음 시작할 때 실행되는 부분
            let self = this;
            self.fnFoodList();
        }
    });

    app.mount('#app');
</script>