<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        table,
        tr,
        th,
        td {
            border: 1px solid black;
            text-align: center;
            padding: 5px 20px;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <div id="app">
        <div v-if="!editMode">
            <table>
                <tr>
                    <th>학번</th>
                    <th>이름</th>
                    <th>학과</th>
                    <th>학년</th>
                    <th>키</th>
                    <th>삭제</th>
                    <th>수정</th>
                </tr>
                <tr v-for="item in list">
                    <td>{{item.STU_NO}}</td>
                    <td>{{item.STU_NAME}}</td>
                    <td>{{item.STU_DEPT}}</td>
                    <td>{{item.STU_GRADE}}</td>
                    <td>{{item.STU_HEIGHT}}</td>
                    <td><button @click="fnRemove(item.STU_NO)">삭제</button></td>
                    <td><button @click="fnEditMode(item)">수정</button></td>
                </tr>
            </table>
            <div>
                <button @click="fnAdd">학생추가</button>
            </div>
        </div>
        <div v-else>
            <div>학번 : {{info.STU_NO}}</div>
            <div>이름 : <input v-model="name"></div>
            <div>학과 : <input v-model="dept"></div>
            <div>
                <button @click="fnEdit">수정</button>
                <button @click="editMode = false">취소</button>
            </div>
        </div>

    </div>
</body>

</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                // 변수 - (key : value)
                list: [],
                info: {},
                editMode: false,
                name : "",
                dept : ""
            };
        },
        methods: {
            // 함수(메소드) - (key : function())
            fnStuList: function () {
                let self = this;
                $.ajax({
                    url: "http://localhost:3009/list",
                    dataType: "json",
                    type: "GET",
                    data: {},
                    success: function (data) {
                        console.log(data);
                        self.list = data.list;
                    }
                });
            },
            fnRemove: function (stuNumber) {
                let self = this;
                if (!confirm("정말 삭제하실?")) {
                    return;
                }

                $.ajax({
                    url: "http://localhost:3009/delete",
                    dataType: "json",
                    type: "GET",
                    data: { stuNo: stuNumber },
                    success: function (data) {
                        alert("삭제되었습니다!");
                        self.fnStuList();
                    }
                });

            },
            fnEdit: function () {
                let self = this;
                if (!confirm("정말 수정하실?")) {
                    return;
                }
                let param = {
                    stuNo: self.info.STU_NO,
                    name: self.name,
                    dept: self.dept
                };
                $.ajax({
                    url: "http://localhost:3009/update",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) {
                        alert("수정되었습니다!");
                        self.fnStuList();
                        self.editMode = false;
                    }
                });
            },
            fnEditMode : function(map){
                let self = this;
                console.log(map);
                self.info = map;
                self.name = map.STU_NAME;
                self.dept = map.STU_DEPT;
                self.editMode = true; // !self.editMode
            },
            fnAdd : function(){
                location.href="이해7_Vue_Insert.html";
            }
        }, // methods
        mounted() {
            // 처음 시작할 때 실행되는 부분
            let self = this;
            self.fnStuList();
        }
    });

    app.mount('#app');
</script>